<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="articlestyle.css">
</head>

<body>
    <section class="articles">
        <% if (locals.blogs) { %>
            <%blogs.forEach(blog=> { %>
                <article>
                    <div class="article-wrapper">
                        <figure>
                            <img src="<%= blog.blogImg%>" alt="blogImg" />
                        </figure>
                        <div class="article-body">
                            <p class="text-md font-bold mb-1">
                                <%= blog.title %>
                            </p>
                            <p>
                                <%= blog.description.slice(0,100)%>..
                            </p>
                            <a href="/blog/<%=blog._id%>" class="read-more">
                                Read more <span class="sr-only">about this is some title</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </article>
                <% }) %>
                    <% } %>
    </section>
</body>

</html>