.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  background-color: rgba(255, 255, 255, 0.9);
  height: 100%;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 2rem;
  }
}
.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  img {
    width: 30%;
  }
  &:hover {
    background-color: aliceblue;
  }
}
.songDes {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar {
  background: transparent;
}
*::-webkit-scrollbar {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
.selected {
  background: url("https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fG11c2ljJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
  object-fit: cover;
}
.active-library {
  transform: translateX(0%);
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
