@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color:
        #1f2028; */
}

/* body {
    height: 100vh;
} */

.cookie-cont {
    background: linear-gradient(260deg, #9b6c50 0%, #4f2626 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fdfdfd;
    display: flex;
    align-items: center;
    width: 20rem;
    height: 10rem;
    border-radius: 1.2rem;
    padding: 1rem;
    font-family: 'Sono', sans-serif;
    justify-content: space-between;
    overflow: hidden;
}

.text {
    /* padding-left: 2rem; */
    width: 70%;
}

.cookie {
    transform: scale(0.6);
    overflow: visible;
}

.title {
    font-size: 1.2rem;
    font-weight: lighter;
}

.subtitle {
    font-weight: bold;
    font-size: 0.7rem;
    padding: 0.5rem 0;
}

button {
    border: none;
    padding: 0.5rem 1rem;
    color: #4f2626;
    font-family: 'Sono', sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 0.3rem;
    /* cursor: pointer; */
}