<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <div class="container">

        <!--Toggle button -->
        <div class="box">
            <input type="checkbox" class="toggle-input" id="toggle" />
            <label for="toggle" class="toggle-label"></label>
        </div>

        <!--Hover effect -->
        <div class="box">
            <ul class="list-menu">
                <li class="list-item">Hover me</li>
            </ul>
        </div>

        <!--Text Input -->
        <div class="box">
            <input type="text" class="form-input">
            <label for="name" class="form-label">Name</label>
        </div>

        <!-- Heart -->
        <div class="box">
            <div class="heart"></div>
        </div>

        <!-- Tooltip -->
        <div class="box">
            <span class="tooltip">Tooltip <span class="tooltiptext">This is tooltip</span></span>
        </div>
        <div class="box">
            <button class="clsbtn">Hello</button>
        </div>
        <div class="box">5</div>
        <div class="box">6</div>
    </div>

    <script src="./app.js"></script>
</body>

</html>