@import url('https://fonts.googleapis.com/css2?family=Borel&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');

:root {
    --color-primary: #6741d9;
    --color-primary-light: #7950f2;
    --color-text: #dee2e6;
    --color-text-dark: #adb5bd;
    --color-background-100: #343a40;
    --color-background-500: #2b3035;
    --color-background-900: #212529;
    --color-red: #fa5252;
    --color-red-dark: #e03131;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Borel', cursive;
    font-family: 'Nunito', sans-serif;

    color: var(--color-text);
    background-color: var(--color-background-900);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 3rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(103, 65, 217, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-family: 'Handjet', cursive;
    font-size: 18px;
}


.nav-bar>div {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

.search {
    justify-self: center;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border-radius: 0.7rem;
    width: 100%;
    transition: all 0.3s;
    color: var(--color-text);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(43, 48, 53, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.search::placeholder {
    color: var(--color-text-dark);
}

.search:focus {
    outline: none;
    box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.comp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    height: 87vh;
    margin-top: 8px;
    display: flex;
    width: 63%;
}

.box {
    width: 100%;
    background-color: var(--color-background-100);
    height: 100%;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
    /* position: relative; */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(52, 58, 64, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.poster {
    border-bottom: 1px solid var(--color-text);
    display: flex;
    margin: 5px;
    padding: 5px 5px 10px 5px;
    cursor: pointer;
}

.poster:hover,
.highlight {
    transition: all 0.3s ease-in-out;
    transform: scaleX(1.02);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(173, 181, 189, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: #212529;
}



.poster>img {
    width: 50px;
    height: 60px;
}

.info {
    width: 90%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.launch {
    font-size: 12px;
    display: flex;
    align-items: center;
}

.launch>img {
    margin-right: 5px;
}

::-webkit-scrollbar {
    display: none;
}

.content {
    padding: 5px;
    display: flex;
    background-color: #2b3035;
}

.filmdetails {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.releaseDate {
    margin: 10px 0px;
    font-size: 14px;
}

.genre {
    font-size: 14px;
}

.filmposter>img {
    width: 150px;
    height: 200px;
    cursor: pointer;
}

.filminfo {
    padding: 10px;
    font-size: 12px;
    line-height: 1.5;
    font-style: italic;
}

.btndv {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-bottom: 0px;
}

.btn-add {
    background-color: var(--color-primary);
    color: var(--color-text);
    border: none;
    border-radius: 10rem;
    font-size: 1.4rem;
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

.btn-add:hover {
    background-color: var(--color-primary-light);
}

.cast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: scroll;
    scroll-behavior: smooth;
    margin: 8px;
    padding: 2px;
    border: 1px solid #454a4f;
    border-radius: 10px;
}

.castComp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.castComp>img {
    width: 60px;
    height: 60px;
}

.castComp .name {
    word-wrap: break-word;
}


.summary {
    padding: 2.2rem 3.2rem 1.8rem 3.2rem;
    border-radius: 0.9rem;
    background-color: var(--color-background-100);
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(160, 160, 198, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.summary h2 {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
}

.summary div {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
}


.rating {
    background-color: var(--color-background-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.btn-delete {
    height: 1.8rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-red);
    color: var(--color-background-900);
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-delete:hover {
    background-color: var(--color-red-dark);
}

.dankFilm {
    display: flex;
    margin: 2px;
    border-bottom: 1px solid wheat;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pp {
    display: flex;
}

.pp>img {
    width: 80px;
    height: 80px;
}

.dank h3 {
    margin: 5px;
    margin-bottom: 8px;
}

.det {
    margin-top: 5px;
}

.dank {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

@media (max-width:500px) {
    .nav-bar {
        flex-direction: column;
        justify-content: space-around;
    }

    .nav-bar>div {
        font-size: 20px;
        font-weight: bold;
    }

    .summary div {
        font-size: 1.3rem;
    }

}

@media (max-width:875px) {
    .main {
        flex-direction: column;
        width: 90%
    }

    .box {
        margin-top: 10px;
    }

    .cast {
        overflow: visible;
    }
}



.close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 95%;
    font-size: 12px;
}

.systum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.inactive {
    opacity: 0.2;
}

.selected {
    color: #212529
}

.loader {
    margin: auto;
    width: 100px;
    height: 30px;
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 0px 35px 0 -5px #aaa, 0 -5px 0 0px #ddd, 0 -25px 0 -5px #fff,
        -25px -30px 0 0px #ddd, -25px 30px 0 0px #ddd, 25px -30px 0 0px #ddd,
        25px 30px 0 0px #ddd, 20px 10px 0 5px #ddd, 20px -10px 0 5px #ddd,
        -20px -10px 0 5px #ddd, -20px 10px 0 5px #ddd;
}

.loader:after,
.loader:before {
    content: "";
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    border: 4px dashed #fff;
    bottom: -4px;
    transform: rotate(0deg);
    box-sizing: border-box;
    animation: tape 4s linear infinite;
}

.loader:before {
    right: 0;
    box-shadow: 0 0 0 4px #fff, 0 0 0 34px #000;
}

.loader:after {
    left: 0;
    box-shadow: 0 0 0 4px #fff, 0 0 0 65px #000;
}

@keyframes tape {
    0% {
        transform: rotate(0deg) scale(0.4);
    }

    100% {
        transform: rotate(-360deg) scale(0.4);
    }
}